[submodule "cfg/shell/zsh-themes/spaceship-prompt"]
	path = cfg/shell/zsh-themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "cfg/shell/zsh-themes/lambda-pure"]
	path = cfg/shell/zsh-themes/lambda-pure
	url = https://github.com/marszall87/lambda-pure
